@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
}

h1, h2 {
    font-family: amatic sc, sans-serif;
    letter-spacing: 5px;
    color: black;
    padding-bottom: 30px;
}

#logo {
    text-align: center;
    font-size: 500%;
}

#menu {
    letter-spacing: 5px;
    font-size: 100%;
    text-align: center;
    list-style-type: none;
    background-color: #D9BDB2;
    padding: 5px;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: none;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}
