@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
}

/* headings and logo */

h1, h2 {
    font-family: amatic sc, sans-serif;
    letter-spacing: 5px;
    color: black;
    padding-bottom: 30px;
}

#logo {
    text-align: center;
    font-size: 500%;
}

/* navigation links */

#menu {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 90%;
    text-align: center;
    list-style-type: none;
    background-color: #D9BDB2;
    padding: 5px;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline;
    margin: 1%;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image and circle text */

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
}   

#circle-text {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    background-color: white;

    top: 225px;
    right: 300px;

    position: absolute;
}

#circle-text h1 {
    text-align: center;
    padding: 40px;
}

/* welcome and about section */

#welcome {
    font-size: 130%;
    text-align: center;
    margin-top: 20px
}

#welcome p {
    font-size: 70%;
    padding: 20px;
    background-color: #FFE9E5;
}

/* styles section */

#styles {
    text-align: center;
    
}

#styles h2 {
    margin-left: 0;
    
}

#left-styles-image {
   
 
}

#right-styles-image {
    
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

img:hover {
    box-shadow: 0 0 3px 2px black;
}



/* social media links and footer */

.social-links{
    text-align: center;
}

.social-links > li {
    display: inline;
    font-size: 150%;
    margin: 1%;
    padding: 7%;
}

.social-links i {
    color: #D9BDB2;
}

.social-links i:hover {
    color: black;
}

#contact-details {
    text-align: center;
    background-color: #D9BDB2;
    margin-top: 20px;
}

/* demo meditation instructions and images */

#instructions {
    background-color: #FFE9E5; 
    height: 1800px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#instructions h1 {
    text-align: center;
    margin-top: 30px;
}

#instructions h4 {
    font-size: 90%;
    text-align: center;
    margin-bottom: 30px;
}

#instructions i {
    padding-left: 10px;
    padding-right: 10px;
}

#instructions {
    margin-left: 50px;
    margin-right: 50px;
}

.instruction-one {
    display: flex;
    align-items: center;
    justify-content: center
}

.img {
    width: 100%;
}

.instruction-one-image {
    flex-basis: 40%;
}

.instruction-one-text{
    padding-left: 20px;
    
}
.instruction-two {
    display: flex;
    align-items: center;
    justify-content: center
}

.instruction-two-image {
    flex-basis: 40%;
}

.instruction-two-text{
    padding-left: 20px;
    
}

.instruction-three {
    display: flex;
    align-items: center;
    justify-content: center
}

.instruction-three-image {
    flex-basis: 40%;
}

.instruction-three-text{
    padding-left: 20px;
}

.instruction-four {
    display: flex;
    align-items: center;
    justify-content: center
}

.instruction-four-image {
    flex-basis: 40%;
}

.instruction-four-text{
    padding-left: 20px;
}

.instruction-five {
    display: flex;
    align-items: center;
    justify-content: center
}

.instruction-five-image {
    flex-basis: 40%;
}

.instruction-five-text{
    padding-left: 20px;
}

/* contact form background image and text */

.form-section {
    background: url('../images/image-contact-page-background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;
    margin-bottom: 20px;
}

.form-section h1, h2 {
    margin-left: 100px;
    padding-top: 20px;
}

/* contact form */

.contact-form-box-inner-box {
    border: 2px solid black;
    padding: 10px;
  }

.contact-form {
    border: black dotted 3px;
    left: 10%;
    max-width: 400px;
    position: absolute;
    padding: 30px;
    background-color: white
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 100%;
    background-color: #D9BDB2;
    color:black;
}

.submit-button :hover {
    color: white;
}

.submit-button i {
    padding-left: 10px;
}






