@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
}

h1, h2 {
    font-family: amatic sc, sans-serif;
    letter-spacing: 5px;
    color: black;
    padding-bottom: 30px;
}

#logo {
    text-align: center;
    font-size: 500%;
}

#menu {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 90%;
    text-align: center;
    list-style-type: none;
    background-color: #D9BDB2;
    padding: 5px;
}

#menu li {
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline;
    margin: 1%;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero\ image.jpeg') no-repeat center center;
}   

#circle-text {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;

    top: 225px;
    right: 300px;

    position: absolute;
}

#circle-text h1 {
    text-align: center;
    padding: 40px;
}

#welcome {
    font-size: 130%;
    text-align: center;
    margin-top: 20px
}

#welcome p {
    font-size: 70%;
    padding: 20px;
    background-color: #FFE9E5;
}

#types {
    height: 600px;
}

#left-about {
    padding-top: 20px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 20px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

.left-about-image {
    height: 300px;
    width: 100%;
    background: url('../images/image\ 1\ yoga\ pose.jpg') no-repeat center;
    padding-top: 30px;
} 

.right-about-image {
    height: 300px;
    width: 100%;
    background: url('../images/image\ yoga\ retreat.jpeg') no-repeat center;
    padding-top: 30px;
}

.centre-about-image {
    height: 300px;
    width: 100%;
    background: url('../images/image\ meditation.jpeg') no-repeat center;
}
#types h2 {
    text-align: center;
}

.social-links{
    text-align: center;
}

.social-links > li {
    display: inline;
    font-size: 150%;
    margin: 1%;
    padding: 7%;
}

.social-links i {
    color: #D9BDB2;
}

#contact-details {
    text-align: center;
    background-color: #D9BDB2;
    margin-top: 20px;
}
